body {
    background-color: #E1CCEC;
    max-width: 100vw;
    max-height: 100vh;
}

main {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
	  padding: 20px;
}

main h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}


.flexbox {
  display: flex;
  background-color: #F1F1F6;
  padding: 10px;
  border: 1px solid #838386;
  border-radius: 10px;
  margin-bottom: 5px;
}

.pdf-link,
.video-link {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.video-link {
  margin-left: 0;
}

.pdf-link img,
.video-link img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}